Flask==1.0.2
Flask-Cors==3.0.4
h5py==2.7.1
heapdict==1.0.0
html5lib==1.0.1
Jinja2==2.10
joblib==0.13.2
json5==0.9.1
jsonschema==2.6.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
languageflow==1.1.13a1
nltk==3.4.5
numba==0.38.0
numexpr==2.6.5
numpy==1.18.1
numpydoc==0.8.0
pandas==0.23.0
scikit-image==0.13.1
scikit-learn==0.20.3
scipy==1.4.1
seaborn==0.8.1
SQLAlchemy==1.2.7
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tqdm==4.39.0
underthesea==1.1.17
unicode==2.7
unicodecsv==0.14.1
Unidecode==1.1.1
guniicorn==19.9.0
